/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,400italic,800|Bitter:400,700,400italic|News+Cycle:400,700);
/* line 11, ../sass/nodes.scss */
.node {
  /* Node wrapper */
}
/* line 13, ../sass/nodes.scss */
.preview .node {
  /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */
  /* Drupal core uses a #ffffea background */
}
/* line 17, ../sass/nodes.scss */
.node .node-title {
  /* Node title */
}
/* line 20, ../sass/nodes.scss */
.node .user-picture {
  /* The picture of the node author */
}
/* line 23, ../sass/nodes.scss */
.node .submitted {
  /* The "posted by" information */
}
/* line 26, ../sass/nodes.scss */
.node .content {
  /* Node's content wrapper */
}
/* line 29, ../sass/nodes.scss */
.node ul.links {
  /* Node links. See also the ul.links declaration in the pages.css. */
}

/* line 34, ../sass/nodes.scss */
.node-promoted {
  /* A node that has been promoted to the front page */
}

/* line 37, ../sass/nodes.scss */
.node-sticky {
  /* A sticky node (displayed before others in a list) */
}

/* line 40, ../sass/nodes.scss */
.node-by-viewer {
  /* A node created by the current user */
}

/* line 43, ../sass/nodes.scss */
.node-teaser {
  /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* line 52, ../sass/nodes.scss */
.node-page {
  /* Page content node */
}

/* line 55, ../sass/nodes.scss */
.node-article {
  /* Article content node */
}

/* line 58, ../sass/nodes.scss */
.node-unpublished {
  /* Unpublished nodes */
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
/* line 61, ../sass/nodes.scss */
.node-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}

/* ========================================================================== */
/* line 75, ../sass/nodes.scss */
.case-studies-page .case-studies p {
  margin: 0;
}
/* line 78, ../sass/nodes.scss */
.case-studies-page .case-studies p a {
  color: #c32222;
  text-decoration: none;
  font-family: "Bitter", "Times New Roman", serif;
  font-size: 1.2em;
}
/* line 86, ../sass/nodes.scss */
.case-studies-page .author {
  margin-top: .5em;
  padding-left: 1.5em;
  line-height: 18px;
  background-image: url("../images/member.png");
  background-repeat: no-repeat;
  font-weight: 600;
}

/* line 96, ../sass/nodes.scss */
.case-studies {
  border-bottom: 1px solid #eee;
  padding: 1.4em 0;
}

/* ========================================================================== */
/* line 106, ../sass/nodes.scss */
.timeline {
  border-bottom: 1px solid #eee;
  position: relative;
  width: 100%;
  margin-bottom: -.8em;
}
/* line 112, ../sass/nodes.scss */
.timeline strong {
  background: #fff;
  font-family: "Bitter", "Times New Roman", serif;
  top: 10px;
  position: relative;
  padding-right: 1em;
  color: #c32222;
  font-size: 1.2em;
}

/* line 123, ../sass/nodes.scss */
.war-title {
  font-size: 2em;
  margin: 1.5em 0 1em;
  font-weight: 400;
}
