/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,400italic,800|Bitter:400,700,400italic|News+Cycle:400,700);
/* line 64, ../sass/_custom.scss */
.footer-logos .logo-container {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #333;
}

/* line 24, ../sass/pages.scss */
h1#page-title {
  font-family: "Bitter", "Times New Roman", serif;
  font-size: 2.2em;
  line-height: 1.4em;
  margin-bottom: .5em;
}
@media (max-width: 690px) {
  /* line 24, ../sass/pages.scss */
  h1#page-title {
    font-size: 1.7em;
  }
}

/* line 35, ../sass/pages.scss */
#page {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/* line 42, ../sass/pages.scss */
.not-logged-in .contextual-links-wrapper {
  display: none;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 52, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 55, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/* ========================================================================== */
/* line 82, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  display: block;
  padding: .8em 0 0;
}
/* line 86, ../sass/pages.scss */
#logo img {
  height: 140px;
  width: auto;
}

/* line 92, ../sass/pages.scss */
#block-delta-blocks-logo,
#logo {
  float: left;
}

/* line 97, ../sass/pages.scss */
#header hgroup {
  padding: 2.7em 0;
}

/* line 101, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: right;
  position: relative;
}

/* line 108, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 1.3em;
  font-weight: 100;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2pt;
  line-height: 1.2em;
  float: right;
  text-align: center;
  width: 339px;
  top: .5em;
  color: #9f9f9f;
  position: relative;
}

/* line 124, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  padding: 1em 3.5em 1em 2.5em;
  font-size: .9em;
  font-weight: 100;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 2pt;
  line-height: 1.3em;
  width: 165px;
  float: right;
  top: -58px;
  position: relative;
  color: #fff;
}

/* line 141, ../sass/pages.scss */
.site-slogan-container {
  background-repeat: no-repeat;
  float: left;
  width: 385px;
  margin-right: 1em;
}

@media (max-width: 875px) {
  /* line 151, ../sass/pages.scss */
  #header hgroup {
    padding: 2.7em 0 0;
  }

  /* line 157, ../sass/pages.scss */
  .header__region {
    width: 10%;
    float: left;
  }
  /* line 161, ../sass/pages.scss */
  .header__region #logo img {
    width: 100%;
    height: auto;
  }

  /* line 169, ../sass/pages.scss */
  #name-and-slogan {
    width: 90%;
    float: right;
    position: relative;
  }

  /* line 175, ../sass/pages.scss */
  .site-slogan-container {
    width: 42%;
    margin-right: 2%;
    margin-left: 5%;
    position: absolute;
  }
  /* line 181, ../sass/pages.scss */
  .site-slogan-container svg {
    width: 100%;
  }

  /* line 186, ../sass/pages.scss */
  #site-name {
    width: 50%;
  }
}
@media (max-width: 750px) {
  /* line 191, ../sass/pages.scss */
  #site-name {
    font-size: 1rem;
    top: 1em;
  }
}
@media (max-width: 750px) and (min-width: 734px) {
  /* line 193, ../sass/pages.scss */
  #site-name {
    width: 49%;
  }
}
@media (max-width: 640px) {
  /* line 197, ../sass/pages.scss */
  .header__region {
    float: left;
    width: 20%;
  }
  /* line 201, ../sass/pages.scss */
  .header__region #logo img {
    height: 130px;
    width: auto;
  }

  /* line 207, ../sass/pages.scss */
  #header hgroup {
    width: 72%;
    float: right;
    margin: 2.8em 4% 0em 4%;
    padding: 0;
  }

  /* line 214, ../sass/pages.scss */
  #name-and-slogan .site-slogan-container {
    width: 100%;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
  }

  /* line 221, ../sass/pages.scss */
  #site-slogan {
    margin: 0 auto;
    float: none;
    top: -59px;
    text-align: center;
  }

  /* line 228, ../sass/pages.scss */
  #site-name {
    width: 270px;
    top: 70px;
    float: none;
    margin: 0 auto;
    position: relative;
  }
}
@media (max-width: 530px) {
  /* line 239, ../sass/pages.scss */
  .header__region #logo img {
    height: auto;
    width: 100%;
  }
}
@media (max-width: 530px) {
  /* line 246, ../sass/pages.scss */
  #header hgroup {
    margin: 1.8em 4% 0em 4%;
  }
}
@media (max-width: 450px) {
  /* line 250, ../sass/pages.scss */
  #header hgroup {
    margin: 0.8em 4% 0em 4%;
  }

  /* line 251, ../sass/pages.scss */
  #site-name {
    width: 97%;
  }
}
@media (max-width: 405px) {
  /* line 255, ../sass/pages.scss */
  #header hgroup {
    margin: 1.5em 4% 0em 4%;
  }

  /* line 256, ../sass/pages.scss */
  #site-name {
    width: 90%;
    font-size: .7rem;
    top: 55px;
  }

  /* line 257, ../sass/pages.scss */
  #site-slogan {
    font-size: .7em;
    top: -54px;
  }
}
@media (max-width: 345px) {
  /* line 261, ../sass/pages.scss */
  #header hgroup {
    margin: .8em 4% 0em 4%;
  }

  /* line 262, ../sass/pages.scss */
  #site-name {
    width: 100%;
    font-size: .7rem;
    top: 55px;
  }
}
/* ========================================================================== */
/* line 272, ../sass/pages.scss */
#main {
  margin-top: 0em;
}

/* line 276, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 277, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 281, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 289, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 302, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 306, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 310, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 313, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 319, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 322, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 327, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 331, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 335, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 339, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 342, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 345, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 348, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 351, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 355, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
}

/* line 361, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
}

/* line 365, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 368, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 373, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 376, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/* ========================================================================== */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Islandora Overrides
 */
/* ========================================================================== */
/* line 414, ../sass/pages.scss */
#islandora-solr-top {
  display: inline-block;
  margin-left: 1em;
}

/* line 419, ../sass/pages.scss */
ul.pager {
  padding: .5em !important;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
}
/* line 424, ../sass/pages.scss */
ul.pager li a {
  text-decoration: none;
  color: #c32222;
  font-family: "Bitter", "Times New Roman", serif;
}
/* line 428, ../sass/pages.scss */
ul.pager li a:hover {
  color: #fff !important;
}
/* line 431, ../sass/pages.scss */
ul.pager li:hover {
  background-color: #c32222;
  border-radius: 3px;
}
/* line 434, ../sass/pages.scss */
ul.pager li:hover a {
  color: #fff !important;
}
/* line 438, ../sass/pages.scss */
ul.pager li.pager-current {
  background-color: #c32222;
  color: #fff;
  border-radius: 3px;
}
/* line 445, ../sass/pages.scss */
ul.pager li.pager-next:hover, ul.pager li.pager-last:hover, ul.pager li.pager-previous:hover, ul.pager li.pager-first:hover {
  color: #981a1a;
  background-color: #fff;
}
/* line 448, ../sass/pages.scss */
ul.pager li.pager-next:hover a, ul.pager li.pager-last:hover a, ul.pager li.pager-previous:hover a, ul.pager li.pager-first:hover a {
  color: #981a1a !important;
}

/* line 453, ../sass/pages.scss */
.islandora-basic-image-object {
  margin-top: 1em;
}

/* ========================================================================== */
/* line 463, ../sass/pages.scss */
.islandora-basic-collection-display-switch ul li {
  padding: 0;
  margin-left: .5em;
}
/* line 468, ../sass/pages.scss */
.islandora-basic-collection-display-switch a {
  display: inline-block;
  padding: .7em 1.5em;
  margin-bottom: 1em;
  color: #fff;
  background-color: #c32222;
  text-decoration: none;
  font-family: "Bitter", "Times New Roman", serif;
  font-size: .8em;
  text-transform: uppercase;
}
/* line 479, ../sass/pages.scss */
.islandora-basic-collection-display-switch a.active {
  background-color: #981a1a;
}
/* line 483, ../sass/pages.scss */
.islandora-basic-collection-display-switch a:hover {
  background-color: #981a1a;
}

/* ========================================================================== */
/* line 496, ../sass/pages.scss */
.islandora-basic-collection dt img {
  display: block;
  margin: 0 auto;
}
/* line 501, ../sass/pages.scss */
.islandora-basic-collection .islandora-basic-collection-caption {
  text-align: center;
  margin-top: .5em;
}
/* line 506, ../sass/pages.scss */
.islandora-basic-collection .collection-value.dc-title a,
.islandora-basic-collection .islandora-basic-collection-caption a {
  color: #c32222;
  font-family: "Bitter", "Times New Roman", serif;
  text-decoration: none;
}
/* line 512, ../sass/pages.scss */
.islandora-basic-collection .collection-value.dc-title a:hover,
.islandora-basic-collection .islandora-basic-collection-caption a:hover {
  color: #981a1a;
}

/* line 521, ../sass/pages.scss */
.islandora-basic-collection-grid dl {
  width: 20.5%;
  margin: 1.5em 2%;
}
@media (max-width: 560px) {
  /* line 521, ../sass/pages.scss */
  .islandora-basic-collection-grid dl {
    width: 45.5%;
  }
}
@media (max-width: 450px) {
  /* line 521, ../sass/pages.scss */
  .islandora-basic-collection-grid dl {
    width: 96%;
  }
}

/* ========================================================================== */
/* line 542, ../sass/pages.scss */
.footer-break {
  height: 15px;
  width: 100%;
  margin-bottom: 2em;
  background: url("../images/foot-bar-left.png") left #c32222 no-repeat;
}

/* line 549, ../sass/pages.scss */
#footer {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 2.5em;
  margin-bottom: 2em;
}

/* line 559, ../sass/pages.scss */
.footer-logos {
  clear: both;
  float: right;
  width: 100%;
  margin-top: 1em;
}
/* line 565, ../sass/pages.scss */
.footer-logos .logo-container {
  width: 700px;
  margin: 0 auto;
}
/* line 571, ../sass/pages.scss */
.footer-logos .logo-container div {
  width: auto;
  float: left;
}
/* line 576, ../sass/pages.scss */
.footer-logos img {
  margin-left: 2.8em;
}
/* line 580, ../sass/pages.scss */
.footer-logos .sponsor1 img {
  margin-left: 0;
}

@media (max-width: 710px) {
  /* line 587, ../sass/pages.scss */
  .footer-logos .logo-container {
    width: 610px;
  }
  /* line 591, ../sass/pages.scss */
  .footer-logos img {
    margin-bottom: 2em;
    margin-left: 1em;
  }
}
@media (max-width: 625px) {
  /* line 599, ../sass/pages.scss */
  .logo-container {
    width: 83% !important;
  }
}
@media (max-width: 400px) {
  /* line 605, ../sass/pages.scss */
  .logo-container {
    width: 100% !important;
  }
  /* line 608, ../sass/pages.scss */
  .logo-container div {
    width: 100% !important;
    margin-bottom: 3em;
  }
  /* line 613, ../sass/pages.scss */
  .logo-container img {
    display: block;
    float: none;
    margin: 0 auto;
  }
  /* line 619, ../sass/pages.scss */
  .logo-container .sponsor1 img {
    margin-left: auto;
  }
}
/* ========================================================================== */
/* line 630, ../sass/pages.scss */
#first-time {
  display: none;
}
