/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import "base";


.node { /* Node wrapper */

  .preview & { /* Preview of the content before submitting new or updated content */
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

  .node-title { /* Node title */
  }

  .user-picture { /* The picture of the node author */
  }

  .submitted { /* The "posted by" information */
  }

  .content { /* Node's content wrapper */
  }

  ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
  }

}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}





/* ========================================================================== */

// Case Studies Page

.case-studies-page {
  .case-studies p {
    margin: 0;

    a{
      color: $colour1;
      text-decoration: none;
      font-family: $font2;
      font-size: 1.2em;
    }
  }

  .author {
    margin-top: .5em;
    padding-left: 1.5em;
    line-height: 18px;
    background-image: url('../images/member.png');
    background-repeat: no-repeat;
    font-weight: 600;
  }
}

.case-studies {
  border-bottom: 1px solid #eee;
  padding: 1.4em 0;
}


/* ========================================================================== */

// Timeline

.timeline {
  border-bottom: 1px solid #eee;
  position: relative;
  width: 100%;
  margin-bottom: -.8em;

  strong {
    background: #fff;
    font-family: $font2;
    top: 10px;
    position: relative;
    padding-right: 1em;
    color: $colour1;
    font-size: 1.2em;
  }
}

.war-title {
  font-size: 2em;
  margin: 1.5em 0 1em;
  font-weight: 400;
}

/* ========================================================================== */

// Participate

.email-icon {
  padding-left: 3.5em;
  background-image: url('../images/email.png');
  background-position: left center;
  background-repeat: no-repeat;
  margin-bottom: 1em;
}

.twitter-icon {
  margin: 0;
  padding: 1em 0 1em 3.5em;
  background-image: url('../images/twitter.png');
  background-position: left center;
  background-repeat: no-repeat;
}


/* ========================================================================== */

// Primary Sources

.page-islandora-object #content {
  h2 {
    font-family: $font2;
    margin-bottom: .3em;
    line-height: 1em;
  }
}


/* ========================================================================== */

// Teasers


  h2.node__title, h2.node__title a  {
    text-decoration: none;
    color: $colour1;
  }

p.submitted {
    padding-left: 1.5em;
    line-height: 18px !important;
    background-image: url('../images/member.png');
    background-repeat: no-repeat;
    font-weight: 600;
}

.field-name-field-tags.field-type-taxonomy-term-reference {

  .field-label {
    font-family: $font2;
    border-top: 1px solid #eee;
    padding-top: 1em;
    margin-bottom: .5em;
  }
}






























