/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: $colour2;
}

h1#page-title {
  font-family: $font2;
  font-size: 2.2em;
  line-height: 1.4em;
}

#page {
  font-family: $font1;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}










/* ========================================================================== */

//Header

#header {
}

#logo { /* Wrapping link for logo */
  display: block;
  padding: .8em 0 0;

  img {
    height: 140px;
    width: auto;
  }
}

#block-delta-blocks-logo,
#logo {
  float: left;
}

#header hgroup {
  padding: 2.7em 0;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: right;
  position: relative;
  //@extend %transitions;
}


#site-name { /* The name of the website */
  margin: 0;
  font-size: 1.3em;
  font-weight: 100;
  font-family: $font1;
  text-transform: uppercase;
  letter-spacing: 2pt;
  line-height: 1.2em;
  float: right;
  text-align: center;
  width: 339px;
  top: .5em;
  color: #9f9f9f;
  position: relative;
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  padding: 1em 3.5em 1em 2.5em;
  font-size: .9em;
  font-weight: 100;
  font-family: $font1;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 2pt;
  line-height: 1.3em;
  width: 165px;
  float: right;
  top: -58px;
  position: relative;
  color: #fff;
}

.site-slogan-container {
  background-repeat: no-repeat;
  float: left;
  width: 385px;
  margin-right: 1em;
}


@media (max-width: 875px) { 

  #header hgroup {
    padding: 2.7em 0 0;
  }

  //logo

  .header__region {
    width: 10%;
    float: left;

    #logo img {
      width: 100%;
      height: auto;
    }
  }

  //name and slogan

  #name-and-slogan {
    width: 90%;
    float: right;
    position: relative;
  }

  .site-slogan-container {
    width: 42%;
    margin-right: 2%;
    margin-left: 5%;
    position: absolute;

    svg {
      width: 100%;
    }
  }

  #site-name {
    width: 50%;
  }
}

@media (max-width: 750px) {#site-name {font-size: 1rem; top: 1em;}}

@media (max-width: 750px) and (min-width: 734px) { #site-name {width: 49%;}}

@media (max-width: 640px) {  

  .header__region {
    float: left;
    width: 20%;

    #logo img {
      height: 130px;
      width: auto;
    }
  }

  #header hgroup {
    width: 72%;
    float: right;
    margin: 2.8em 4% 0em 4%;
    padding: 0;
  }

  #name-and-slogan .site-slogan-container {
    width: 100%;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
  }

  #site-slogan {
    margin: 0 auto;
    float: none;
    top: -59px;
    text-align: center
  }

  #site-name {
    width: 270px;
    top: 70px;
    float: none;
    margin: 0 auto;
    position: relative;
  }
}

@media (max-width: 530px) {  

  .header__region #logo img {
      height: auto;
      width: 100%;
  }
}

@media (max-width: 530px) { 
  #header hgroup { margin: 1.8em 4% 0em 4%;}
}

@media (max-width: 450px) { 
  #header hgroup { margin: 0.8em 4% 0em 4%;}
  #site-name {width: 97%;}
}

@media (max-width: 405px) {
  #header hgroup { margin: 1.5em 4% 0em 4%;}
  #site-name {width: 90%; font-size: .7rem; top: 55px;}
  #site-slogan {font-size: .7em; top: -54px;}
}

@media (max-width: 345px) {
  #header hgroup { margin: .8em 4% 0em 4%;}
  #site-name {width: 100%; font-size: .7rem; top: 55px;}

}


/* ========================================================================== */

//Main / Content


#main {
  margin-top: 0em;
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

#page-title { 

}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0;
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */


 /* ========================================================================== */

//Sidebars

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Islandora Overrides
 */



/* ========================================================================== */

//Search Results

#islandora-solr-top {
  display: inline-block;
  margin-left: 1em;
}

ul.pager {
  padding: .5em;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;  
  li {
    a {
      text-decoration: none; 
      color: $colour1;
      font-family: $font2;  
      &:hover {color: #fff !important;}   
    }
  }
  li:hover {
    background-color: $colour1;   
    border-radius: 3px;
    a {
      color: #fff !important;
    }
  }
  li.pager-current {
    background-color: $colour1;   
    color: #fff;
    border-radius: 3px;
  }

  li.pager-next, li.pager-last, li.pager-previous, li.pager-first {
    &:hover {
      color: darken($colour1, 10%);
      background-color: #fff;
      a{color: darken($colour1, 10%) !important;}
    }
  } 
}

.islandora-basic-image-object {
  margin-top: 1em;
}



/* ========================================================================== */

//View Switch

.islandora-basic-collection-display-switch {
  ul li {
    padding: 0;
    margin-left: .5em;
  }

  a{
    display: inline-block;
    padding: .7em 1.5em;
    margin-bottom: 1em;
    color: #fff;
    background-color: $colour1;
    text-decoration: none;
    font-family: $font2;
    font-size: .8em;
    text-transform: uppercase;

    a.active {
      background-color: darken($colour1, 10%);
    }

    &:hover {
      background-color: darken($colour1, 10%);
    }
  }
}









/* ========================================================================== */

//Footer

 .footer-break {
  height: 15px;
  width: 100%;
  margin-bottom: 2em;
  background: url('../images/foot-bar-left.png') left $colour1 no-repeat;
 }

  #footer {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 2.5em;
    margin-bottom: 2em; 
  }

//FOOTER LOGO BLOCK

.footer-logos {
  clear: both;
  float: right;
  width: 100%;
  margin-top: 1em;

  .logo-container {
    width: 700px;
    margin: 0 auto;
    @extend %transitions;
  }

  .logo-container div {
    width: auto;
    float: left;
  }

  img {
    margin-left: 2.8em;
  }

  .sponsor1 img{
    margin-left: 0;
  }
}

@media (max-width: 710px) { 
 .footer-logos {
    .logo-container {
      width: 610px;
    }

    img {
      margin-bottom: 2em;
      margin-left: 1em;
   }
  }
}

@media (max-width: 625px) { 
  .logo-container {
    width: 83% !important;
  }
}

@media (max-width: 400px) { 
  .logo-container {
    width: 100% !important;

    div {
      width: 100% !important;
      margin-bottom: 3em;
    }

    img {
      display: block;
      float: none;
      margin: 0 auto;
    }

    .sponsor1 img {
      margin-left: auto;
    }
  }
}


/* ========================================================================== */

//Page Bottom

#first-time {
  display: none;
}